
body {
   margin : 0 ;
   padding : 0 ;
   background-image: linear-gradient(#eba6ad,#baecfb);
   
  
}
   
.profile{
   position: static;
    padding : 20px ;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: black;
    font-family: century Gothic, sans-serif;
}

.profile img {
   width: 340px;
   border-radius: 120%;
   height: 20em;
   object-fit: cover;

 }


center img:hover{
      transform:scale(1.3);
      transition:.3s;
    }

a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }

a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
   }
 a:hover {
      color: rgb(123, 63, 6);
      background-color: transparent;
      text-decoration: underline;
    } 
      